<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Politician Track</title>
      <link rel="stylesheet" type="text/css" href="./css/hots.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">Politician Track</a>
      </div>
      <nav>
        <div class="item">
          <a href="./politician">篩選</a>
        </div>
        <div class="item">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
      <div class="feature">
        <a href="./about">About Us</a>
      </div>
    </header>

    <main>
      <div class="content scrollBar">
        <div class="tabs">
          <div class="tabFrom">
            <li class="tabTitle" id="pol">人物</li>
            <div class="pointer"></div>
          </div>
          <div class="tabFrom">
            <li class="tabTitle" id="issue">議題</li>
            <div class="pointer toggle"></div>
          </div>
        </div>

        <div class="lists scrollBar" id="oncomingHots">

          <!-- <div class="list">
            <div class="mainList">
              <div class="polName">孫中山</div>
              <div class="bar">
                <div class="process"></div>
              </div>
              <div class="count">1234</div>
            </div>
            <div class="subLists">
              <div class="subList">
                <div class="issueName">第一次革命</div>
                <div class="issueCount">1234</div>
              </div>
            </div>
          </div> -->


          <% for(let i = 0; i < results.length; i++) { %>
            <% let maxCount = results[0].count; %>
            <% let thisCount = results[i].count; %>
            <% let ratio = (thisCount / maxCount) * 100; %>
            <div class="list">
              <div class="mainList" onclick="subListCallIssue(<%= results[i].tag_id %>,'<%= results[i].name %>')">
                <div class="polName"><%= results[i].name %></div>
                <div class="bar">
                  <div class="process" style="width:<%=ratio%>%"></div>
                </div>
                <div class="count"><%= results[i].count %></div>
              </div>
              <div class="subLists" id="<%= results[i].tag_id %>"></div>
            </div>
          <% } %>
        </div>

        <div class="lists scrollBar" id="appendHots"></div>
      </div>

    </main>

    <footer>

    </footer>

  <script>

    const tabsTitle = document.querySelectorAll(".tabTitle");
    const mainLists = document.querySelectorAll(".mainList");

    const oncomingLists = document.getElementById("oncomingHots");

    const appendHots = document.getElementById("appendHots");

    var preSublistId;

    tabsTitle.forEach(tabTitle => tabTitle.addEventListener('click', function(event) {
      preSublistId = "";
      removeData(oncomingLists); // 刪除預先載入的資料
      appendHots.style.display = "flex";
      if(this.nextElementSibling.classList.contains("toggle")) {
        tabsTitle.forEach(r => r.nextElementSibling.classList.add("toggle"));
        this.nextElementSibling.classList.remove("toggle");
      }
      getData(event.target.id);
    }));

    // get Pol sub Issue after click tabTitle
    function subListCallIssue(pol_id, pol) {
      getSubData("pol", pol_id, pol);
    }

    // get Issue sub Pol after click tabTitle
    function subListCallPol(issue_id, issue) {
      getSubData("issue", issue_id, issue);
    }

    // DB 取資料
    function getData(item) {
      $.ajax({
        url: `/api/gethots/${item}`,
        method: "GET",
        success: function(resp) {
          removeData(appendHots);
          dataForm(resp.data, item);
        }
      });
    }

    // DB 取資料 - subIssue
    function getSubData(type, tag_id, name) {
      $.ajax({
        url: `/api/gethots/sub/issue?${type}=${tag_id}`,
        method: "GET",
        success: function(resp) {
          if(preSublistId) {
            if(preSublistId != tag_id) { // 點擊展開外的
              let removeList = document.getElementById(preSublistId);
              removeData(removeList);
              subDataForm(tag_id, resp.data, type, name);
              preSublistId = tag_id;
            } else { // 點擊原本展開的
              removeList = document.getElementById(tag_id);
              removeData(removeList);
              preSublistId = "";
            }
          } else { // 什麼都沒展開
            subDataForm(tag_id, resp.data, type, name);
            preSublistId = tag_id;
          }
        }
      });
    }


    function dataForm(data, type) {
      document.getElementById('oncomingHots').style.display = "none";

      let dataLength = data.length;
      let maxCount = data[0].count;
      for(let i = 0; i < dataLength; i++) {
        var listDiv = document.createElement("div");
        listDiv.className = "list";

        var mainListDiv = document.createElement("div");
        mainListDiv.className = "mainList";
        if(type === "pol") {
          mainListDiv.setAttribute("onclick", `subListCallIssue(${data[i].tag_id},'${data[i].name}')`);
        } else {
          mainListDiv.setAttribute("onclick", `subListCallPol(${data[i].tag_id},'${data[i].name}')`);
        }


        // pol name
        var nameDiv = document.createElement("div");
        nameDiv.className = "polName";
        nameDiv.innerHTML = data[i].name;

        // bar handle
        var barDiv = document.createElement("div");
        barDiv.className = "bar";
        var processDiv = document.createElement("div");
        processDiv.className = "process";

        let thisCount = data[i].count;
        let ratio = (thisCount / maxCount) * 100;
        processDiv.setAttribute("style", `width: ${ratio}%`)

        barDiv.appendChild(processDiv);

        // news count
        var countDiv = document.createElement("div");
        countDiv.className = "count";
        countDiv.innerHTML = data[i].count;

        // subLists
        var subListsDiv = document.createElement("div");
        subListsDiv.className = "subLists";
        subListsDiv.setAttribute("id", `${data[i].tag_id}`)

        mainListDiv.appendChild(nameDiv);
        mainListDiv.appendChild(barDiv);
        mainListDiv.appendChild(countDiv);

        listDiv.appendChild(mainListDiv);
        listDiv.appendChild(subListsDiv);

        appendHots.appendChild(listDiv);
      }

    }

    function subDataForm(tag_id, data, type, name) {
      const subLists = document.getElementById(tag_id);

      for(let i = 0; i < data.length; i++) {
        var subListA = document.createElement("a");
        subListA.className = "subList";
        if(type === "pol") {
          subListA.setAttribute("href", `/politician?pol=${name}&issue=${data[i].name}`);
        } else {
          subListA.setAttribute("href", `/politician?pol=${data[i].name}&issue=${name}`);
        }

        var nameDiv = document.createElement("div");
        nameDiv.className = "issueName";
        nameDiv.innerHTML = data[i].name;

        var countDiv = document.createElement("div");
        countDiv.className = "issueCount";
        countDiv.innerHTML = data[i].count;

        subListA.appendChild(nameDiv);
        subListA.appendChild(countDiv);

        subLists.appendChild(subListA);
      }
    }

    function removeData(element) {
      var child = element.lastElementChild;
      while(child) {
        element.removeChild(child);
        child = element.lastElementChild;
      }
    }

  </script>

  </body>


</html>
