<!DOCTYPE html>
<html lang="en">

  <head>
      <title>Politician Track</title>
      <link rel="shortcut icon" href="#"/>
      <link rel="stylesheet" type="text/css" href="./css/common.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">Politician Track</a>
      </div>
      <nav>
        <div class="item">
          <a href="./politician">篩選</a>
        </div>
        <div class="item">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
      <div class="feature">
        <a href="./about">關於</a>
      </div>
    </header>



    <main>

      <div class="sidenav">
        <div class="filters">
          <ul>
            <li class="filter" id="main">主選</li>
            <li class="filter" id="party">政黨</li>
            <!-- <li class="filter" id="region">地區</li> -->
            <!-- <li class="filter" id="time">時間</li> -->
          </ul>
        </div>
        <div class="partyList filterItems scrollBar">
          <ul>
            <% for(let i = 1; i < partiesData.length; i++) { %>
              <li class="party"><%= partiesData[i].party %></li>
            <% } %>
            <!-- <li class="party">中國國民黨</li> -->
          </ul>
        </div>
        <div class="mainFilter filterItems">
          <div class="politician">
            <ul id="appendPols">
              <li class="personTitle">人物</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% polsData.forEach(function(result){ %>
                  <li class="person"><%= result.name %></li>
                <% }); %>
                <!-- <li class="person">韓國瑜</li> -->
              </div>
            </ul>
          </div>
          <div class="issueList">
            <ul>
              <li class="issueTitle">議題</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% issuesData.forEach(function(result){ %>
                  <li class="issue"><%= result.name %></li>
                <% }); %>
                <!-- <li class="issue">一個中國</li> -->
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="content">

        <div class="top" id="defaultTop">
          <div class="top_core">
            <div class="titleName" id="titleName"><%= title %></div>
            <!-- <div class="titleName" id="titleName">總覽</div> -->
            <div class="switchBox">
              <div class="switchTitle">精準</div>
              <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label switch" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
            </div>

            <!-- <div class="switch">hey</div> -->
          </div>
          <div class="titleIssue" id="titleIssue"><%= issue %></div>
          <!-- <div class="titleIssue" id="titleIssue"></div> -->

        </div>
        <!-- <div class="newslist" id="oncomingNewsP" onscroll="paging2('oncoming')"> -->
          <!-- <ul class="ulNews scrollBar" id="oncomingNews"> -->
          <ul class="ulNews newslist scrollBar" id="oncomingNews" onscroll="paging2('oncoming')">
            <% for(let i = 0; i < results.news.length; i++) { %>
            <li>
              <div class="timeline">
              <% var renderTime = new Date(results.news[i].pubTime); %>
              <% if(i > 0) { %>
                <% var renderPreTime = new Date(results.news[i - 1].pubTime); %>

                <% var renderPreTimeY = renderPreTime.getFullYear(); %>
                <% var renderPreTimeM = renderPreTime.getMonth(); %>
                <% var renderCurTimeY = renderTime.getFullYear(); %>
                <% var renderCurTimeM = renderTime.getMonth(); %>

                <% if(renderPreTimeY !== renderCurTimeY && renderPreTimeM !== renderCurTimeM) { %>
                  <p class="year"><%= renderTime.getFullYear() %></p>
                  <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
                <% } else if (renderPreTimeY == renderCurTimeY && renderPreTimeM !== renderCurTimeM) { %>
                  <p class="year"><%= "" %></p>
                  <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
                <% } else { %>
                  <p class="year"><%= "" %></p>
                  <p class="month"><%= "" %></p>
                <% } %>
              <% } else { %>
                <p class="year"><%= renderTime.getFullYear() %></p>
                <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
              <% } %>
              </div>

              <div class="news" onclick="oncomingReadMore()">
                <div class="news-content">
                  <div class="title"><%= results.news[i].title %></div>
                  <div class="publisher"><%= results.news[i].publisher %></div>
                  <div class="pubTime"><%= results.news[i].pubTime %></div>
                  <div class="desc">
                    <p><%= results.news[i].description %></p>
                  </div>
                  <div class="mainContent hidden">
                    <% let appendModContent = results.news[i].content.replace(/(\u3002\u300d)/g, '。」<br><br>').replace(/(\u3002)(?!\u300d)/g, '。<br><br>') %>
                    <p><%- appendModContent %></p>
                  </div>
                  <a class="url hidden" href="<%= results.news[i].href %>" target="_blank"><%= results.news[i].href %></a>
                </div> <!-- news-content End -->
              </div> <!-- news End -->

              <div class="renderTags">
                <ul>
                  <% for(let j = 0; j < results.news[i].tag.length && j < 5; j++) { %>
                    <% if(results.news[i].tag[j].tagType === "NRP") { %>
                      <li class="polTag" onclick="tagCallPol('<%=results.news[i].tag[j].tagName%>')"><%= results.news[i].tag[j].tagName %></li>
                    <% } else { %>
                      <li class="issueTag" onclick="tagCallIssue('<%=results.news[i].tag[j].tagName%>')"><%= results.news[i].tag[j].tagName %></li>
                    <% } %>
                  <% } %>
                </ul>
              </div>
            </li>
            <% }; %>
          </ul>
        <!-- </div> -->

        <div class="newslist scrollBar" id="appendNewsP" onscroll="paging('append')">
          <ul class="ulNews" id="appendNews">

          </ul>
        </div>
      </div> <!-- Content End -->

    </main>

    <footer>

    </footer>

  <script>

    const filters = document.querySelectorAll('.filter');
    const mainFilter = document.querySelector('.mainFilter');
    const partyFilter = document.querySelector('.partyList');
    const switchButton = document.querySelector('.switch');

    const people = document.querySelectorAll('.person');
    const issues = document.querySelectorAll('.issue');
    const parties = document.querySelectorAll('.party');

    const appendNews = document.getElementById("appendNews");
    const filPols = document.querySelector(".politician .inner");
    const filIssues = document.querySelector(".issueList .inner");

    // Pol, Issue record
    let param = {
      pol: [],
      issue: [],
      party: []
    }

    let strictMode = false;

    //------------ User click ------------

    // sidenav 選擇處理
    filters.forEach(filter => filter.addEventListener('click', function(event) {
      let chooseFilter = event.target.id;

      if(this.classList.contains("highlight")) { // 關掉 sidenav

        this.classList.remove("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "none";
            break;
          case "party":
            partyFilter.style.display = "none";
            break;
          default:
        }
        tagShow()
      } else { // 該點擊項目尚未被選擇
        this.classList.add("highlight");
        switch(chooseFilter) {
          case "main":
            mainFilter.style.display = "flex";
            break;
          case "party":
            partyFilter.style.display = "block";
            break;
          default:
        }
        tagShow()
      }
    }));

    // 人物選擇處理
    people.forEach(person => person.addEventListener('click', function(event) {
      param.pol = [];
      if(this.classList.contains("innerHighlight")) {
        this.classList.remove("innerHighlight");
      } else {
        people.forEach(r => r.classList.remove("innerHighlight"));
        this.classList.add("innerHighlight");
      }

      people.forEach(function(person) {
        if(person.classList.contains("innerHighlight")) {
          param.pol.push(person.innerText);
        }
      });
      polIssue(param);
      if(strictMode === false) {
        getNews(param);
      } else {
        getNewsLess(param);
      }
    }));

    // 議題選擇處理
    issues.forEach(issue => issue.addEventListener('click', function(event) {
      param.issue = []; // 清空
      if(this.classList.contains("innerHighlight")) {
        this.classList.remove("innerHighlight");
      } else {
        issues.forEach(r => r.classList.remove("innerHighlight"));
        this.classList.add("innerHighlight");
      }

      issues.forEach(function(issue) {
        if(issue.classList.contains("innerHighlight")) {
          param.issue.push(issue.innerText);
        }
      });
      if(strictMode === false) {
        getNews(param);
      } else {
        getNewsLess(param);
      }
    }));

    // 政黨選擇處理
    parties.forEach(party => party.addEventListener('click', function(event) {
      param.party = [];
      if(this.classList.contains("innerHighlight")) {
        this.classList.remove("innerHighlight");
      } else {
        this.classList.add("innerHighlight");
      }

      parties.forEach(function(party) {
        if(party.classList.contains("innerHighlight")) {
          param.party.push(party.innerText);
        }
      });
      partyPol(param);
    }));

    switchButton.addEventListener('click', function(event) {
      if(strictMode === false) {
        getNewsLess(param);
        strictMode = true;
      } else {
        getNews(param);
        strictMode = false;
      }
    });

    // 子 filter 處理
    // function childFilter(items) {
    //   items.forEach(item => item.addEventListener('click', function() {
    //     if(this.classList.contains("innerHighlight")) {
    //       this.classList.remove("innerHighlight");
    //     } else {
    //       this.classList.add("innerHighlight");
    //     }
    //   }));
    // }

    // 新聞旁標籤點選切換
    function tagCallPol(pol) {
      param = {
        pol: [pol],
        issue: []
      }
      if(strictMode === false) {
        getNews(param);
      } else {
        getNewsLess(param);
      }

      people.forEach(function(person) {
        if(person.classList.contains("innerHighlight")) {
          person.classList.remove("innerHighlight");
        }
      });
      issues.forEach(function(issue) {
        if(issue.classList.contains("innerHighlight")) {
          issue.classList.remove("innerHighlight");
        }
      });

      addHLByTag(pol, "person");
    }

    function tagCallIssue(issue) {
      param = {
        pol: [],
        issue: [issue]
      }
      if(strictMode === false) {
        getNews(param);
      } else {
        getNewsLess(param);
      }

      people.forEach(function(person) {
        if(person.classList.contains("innerHighlight")) {
          person.classList.remove("innerHighlight");
        }
      });
      issues.forEach(function(issue) {
        if(issue.classList.contains("innerHighlight")) {
          issue.classList.remove("innerHighlight");
        }
      });
      addHLByTag(issue, "issue");
    }

    //------------ Server ------------

    // DB 取資料
    function getNews(param) {
      $.ajax({
        url: `api/news/getNews`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          removeData(appendNews);
          changeTitle(param.pol, param.issue);
          if(resp.data) {
            // document.getElementById('oncomingNewsP').style.display = "none";
            dataForm(resp.data.news, param.pol);
            tagShow();
            page = 0;
            next_paging = resp.data.next_paging;
          }
        }
      });
    }

    // DB 取資料 - paging
    function getNewsPage(param, page, cond) {
      scrollStatus = false;
      $.ajax({
        url: `api/news/getNews?paging=${page}`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          if(resp.data) {
            dataForm(resp.data.news, param.pol, cond);
            tagShow();
            next_paging = resp.data.next_paging;
          }
          scrollStatus = true;
        }
      });
    }

    // DB 取資料 - 政黨影響人物
    function partyPol(param) {
      $.ajax({
        url: `api/getparty`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          // console.log(resp);
          removeData(filPols);
          filPolsForm(resp.data);
        }
      });
    }

    // DB 取資料 - 人物影響議題
    function polIssue(param) {
      $.ajax({
        url: `api/polgetissues`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          // console.log(resp);
          removeData(filIssues);
          filIssuesForm(resp);
        }
      });
    }

    // DB 取資料 - 標題 mode
    function getNewsLess(param) {
      $.ajax({
        url: "api/news/getNews/strict",
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          removeData(appendNews);
          changeTitle(param.pol, param.issue);
          if(resp.data) {
            dataForm(resp.data.news, param.pol);
            tagShow();
            page = 0;
            next_paging = resp.data.next_paging;
          }
        }
      });
    }

    // DB 取資料 - 標題 mode - paging
    function getNewsLessPage(param, page, cond) {
      scrollStatus = false;
      $.ajax({
        url: `api/news/getNews/strict?paging=${page}`,
        type: "POST",
        data: JSON.stringify(param),
        contentType: "application/json; charset=utf-8",
        success: function(resp) {
          if(resp.data) {
            dataForm(resp.data.news, param.pol, cond);
            tagShow();
            next_paging = resp.data.next_paging;
          }
          scrollStatus = true;
        }
      });
    }

    //------------ Function ------------

    // 更改原始標題
    function changeTitle(polName, issueName) {
      let titleName = document.getElementById("titleName");
      let titleIssue = document.getElementById("titleIssue");
      if(polName.length === 0 && issueName.length === 0) {
        titleName.innerHTML = "總覽";
        titleIssue.innerHTML = "";
      } else if(polName.length === 2) {
        titleName.innerHTML = polName[0] + " " + polName[1];
        titleIssue.innerHTML = issueName;
      } else if(polName.length === 0) {
        titleName.innerHTML = issueName;
        titleIssue.innerHTML = "";
      } else {
        titleName.innerHTML = polName;
        titleIssue.innerHTML = issueName;
      }
    }

    // Data 組裝
    function dataForm(respData, pol, cond) {
      // document.getElementById('oncomingNewsP').style.display = "none";
      // document.getElementById('appendNewsP').style.display = "flex";

      for (let i = 0; i < respData.length; i ++) {
        var li = document.createElement("li");
        // li.setAttribute("onclick", "readMore()");

        // timeline
        var timelineDiv = document.createElement("div");
        timelineDiv.className = "timeline";

        var time = new Date(respData[i].pubTime);

        var yearP = document.createElement("p");
        var monthP = document.createElement("p");
        yearP.className = "year";
        monthP.className = "month";

        if(i > 0) {
          var preTime = new Date(respData[i - 1].pubTime);

          var preTimeY = preTime.getFullYear();
          var preTimeM = preTime.getMonth();
          var curTimeY = time.getFullYear();
          var curTimeM = time.getMonth();

          if(preTimeY !== curTimeY && preTimeM !== curTimeM) {
            yearP.innerHTML = time.getFullYear();
            monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          } else if (preTimeY == curTimeY && preTimeM !== curTimeM) {
            yearP.innerHTML = "";
            monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          } else {
            yearP.innerHTML = "";
            monthP.innerHTML = "";
          }
        } else {
          yearP.innerHTML = time.getFullYear();
          monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
        }

        timelineDiv.appendChild(yearP);
        timelineDiv.appendChild(monthP);

        // news
        var newsDiv = document.createElement("div");
        newsDiv.className = "news";
        newsDiv.setAttribute("onclick", "readMore()");
        // link.setAttribute("href", `${respData[i].href}`);
        // link.setAttribute("target", "_blank");

        var newsContentDiv = document.createElement("div");
        newsContentDiv.className = "news-content";

        var titleDiv = document.createElement("div");
        titleDiv.className = "title";
        titleDiv.innerHTML = respData[i].title;

        var publisherDiv = document.createElement("div");
        publisherDiv.className = "publisher";
        publisherDiv.innerHTML = respData[i].publisher;

        var pubTimeDiv = document.createElement("div");
        pubTimeDiv.className = "pubTime";
        pubTimeDiv.innerHTML = respData[i].pubTime;

        var descDiv = document.createElement("div");
        descDiv.className = "desc";
        var descP = document.createElement("p");
        descP.innerHTML = respData[i].description;

        var contentDiv = document.createElement("div");
        contentDiv.className = "mainContent hidden";
        var contentP = document.createElement("p");
        let modContent = respData[i].content.replace(/(\u3002\u300d)/g, '。」<br><br>').replace(/(\u3002)(?!\u300d)/g, '。<br><br>')
        contentP.innerHTML = modContent;
        // contentP.className = "hidden";

        var urlA = document.createElement("a");
        urlA.className = "url hidden";
        urlA.innerHTML = `新聞來源：${respData[i].href}`;
        urlA.setAttribute("href", `${respData[i].href}`);
        urlA.setAttribute("target", "_blank");

        descDiv.appendChild(descP);
        contentDiv.appendChild(contentP);
        newsContentDiv.appendChild(titleDiv);
        newsContentDiv.appendChild(publisherDiv);
        newsContentDiv.appendChild(pubTimeDiv);
        newsContentDiv.appendChild(descDiv);
        newsContentDiv.appendChild(contentDiv);
        newsContentDiv.appendChild(urlA);

        newsDiv.appendChild(newsContentDiv);

        // tags
        var tagsDiv = document.createElement("div");
        tagsDiv.className = "newsTags";

        var tagUl = document.createElement("ul");

        for(let j = 0; j < respData[i].tag.length && j < 5; j++) {
          var tagLi = document.createElement("li");
          // if(respData[i].tag[j].tagName != name) {
          if(pol.indexOf(respData[i].tag[j].tagName) == -1) {
            tagLi.innerHTML = respData[i].tag[j].tagName;
            if(respData[i].tag[j].tagType === "NRP") {
              tagLi.className = "polTag";
              tagLi.setAttribute("onclick", `tagCallPol("${respData[i].tag[j].tagName}")`);
            } else {
              tagLi.className = "issueTag";
              tagLi.setAttribute("onclick", `tagCallIssue("${respData[i].tag[j].tagName}")`);
            }
            tagUl.appendChild(tagLi);
          }
        }
        tagsDiv.appendChild(tagUl);

        // 組合
        li.appendChild(timelineDiv);
        li.appendChild(newsDiv);
        li.appendChild(tagsDiv);

        if(cond === "oncoming") {
          inSideOn.appendChild(li);
        } else {
          appendNews.appendChild(li);
          document.getElementById('oncomingNewsP').style.display = "none";
          document.getElementById('appendNewsP').style.display = "flex";
        }
        // appendNews.appendChild(li);
      }
    }

    // Data 組裝 Less
    function dataFormLess(respData, pol) {
      document.getElementById('oncomingNewsP').style.display = "none";
      document.getElementById('appendNewsP').style.display = "flex";

      for (let i = 0; i < respData.length; i ++) {
        var li = document.createElement("li");
        // li.setAttribute("onclick", "readMore()");

        // timeline
        var timelineDiv = document.createElement("div");
        timelineDiv.className = "timeline";

        var time = new Date(respData[i].pubTime);

        var yearP = document.createElement("p");
        var monthP = document.createElement("p");
        yearP.className = "year";
        monthP.className = "month";

        if(i > 0) {
          var preTime = new Date(respData[i - 1].pubTime);

          var preTimeY = preTime.getFullYear();
          var preTimeM = preTime.getMonth();
          var curTimeY = time.getFullYear();
          var curTimeM = time.getMonth();

          if(preTimeY !== curTimeY && preTimeM !== curTimeM) {
            yearP.innerHTML = time.getFullYear();
            monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          } else if (preTimeY == curTimeY && preTimeM !== curTimeM) {
            yearP.innerHTML = "";
            monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
          } else {
            yearP.innerHTML = "";
            monthP.innerHTML = "";
          }
        } else {
          yearP.innerHTML = time.getFullYear();
          monthP.innerHTML = (time.getMonth() < 10 ? '0' : '') + (time.getMonth() + 1);
        }

        timelineDiv.appendChild(yearP);
        timelineDiv.appendChild(monthP);

        // news
        var newsDiv = document.createElement("div");
        newsDiv.className = "news";
        newsDiv.setAttribute("onclick", "readMore()");
        // link.setAttribute("href", `${respData[i].href}`);
        // link.setAttribute("target", "_blank");

        var newsContentDiv = document.createElement("div");
        newsContentDiv.className = "news-content";

        var titleDiv = document.createElement("div");
        titleDiv.className = "title";
        titleDiv.innerHTML = respData[i].title;

        var publisherDiv = document.createElement("div");
        publisherDiv.className = "publisher";
        publisherDiv.innerHTML = respData[i].publisher;

        var pubTimeDiv = document.createElement("div");
        pubTimeDiv.className = "pubTime";
        pubTimeDiv.innerHTML = respData[i].pubTime;

        var descDiv = document.createElement("div");
        descDiv.className = "desc";
        var descP = document.createElement("p");
        descP.innerHTML = respData[i].description;

        var contentDiv = document.createElement("div");
        contentDiv.className = "mainContent hidden";
        var contentP = document.createElement("p");
        let modContent = respData[i].content.replace(/(\u3002\u300d)/g, '。」<br><br>').replace(/(\u3002)(?!\u300d)/g, '。<br><br>')
        contentP.innerHTML = modContent;
        // contentP.className = "hidden";

        var urlA = document.createElement("a");
        urlA.className = "url hidden";
        urlA.innerHTML = `新聞來源：${respData[i].href}`;
        urlA.setAttribute("href", `${respData[i].href}`);
        urlA.setAttribute("target", "_blank");

        descDiv.appendChild(descP);
        contentDiv.appendChild(contentP);
        newsContentDiv.appendChild(titleDiv);
        newsContentDiv.appendChild(publisherDiv);
        newsContentDiv.appendChild(pubTimeDiv);
        newsContentDiv.appendChild(descDiv);
        newsContentDiv.appendChild(contentDiv);
        newsContentDiv.appendChild(urlA);

        newsDiv.appendChild(newsContentDiv);

        // 組合
        li.appendChild(timelineDiv);
        li.appendChild(newsDiv);

        appendNews.appendChild(li);
      }
    }

    // filter-pols 組裝
    function filPolsForm(respData) {

      let dataLength = respData.length;
      for(let i = 0; i < dataLength; i++) {
        var filPolLi = document.createElement("li");
        filPolLi.className = "person";
        filPolLi.innerHTML = respData[i].name;

        // 建立 child-pols 監聽
        filPolLi.addEventListener('click', function() {
          // polList = [];
          param.pol = [];
          appPols = document.querySelectorAll('.person');
          if(this.classList.contains("innerHighlight")) {
            this.classList.remove("innerHighlight");
          } else {
            appPols.forEach(r => r.classList.remove("innerHighlight"));
            this.classList.add("innerHighlight");
          }

          appPols.forEach(function(person) {
            if(person.classList.contains("innerHighlight")) {
              param.pol.push(person.innerHTML);
            }
          });
          if(strictMode === false) {
            getNews(param);
          } else {
            getNewsLess(param);
          }
          polIssue(param);
        });
        filPols.appendChild(filPolLi);
      }
    }

    // filter-issue 組裝
    function filIssuesForm(respData) {
      // console.log(respData);
      let dataLength = respData.length;

      for(let i = 0; i < dataLength; i++) {
        var polGetIssLi = document.createElement("li");
        polGetIssLi.className = "issue";
        polGetIssLi.innerHTML = respData[i].name;

        // 建立 child 監聽
        polGetIssLi.addEventListener('click', function() {
          param.issue = [];
          appIssues = document.querySelectorAll('.issue');
          if(this.classList.contains("innerHighlight")) {
            this.classList.remove("innerHighlight");
          } else {
            appIssues.forEach(r => r.classList.remove("innerHighlight"));
            this.classList.add("innerHighlight");
          }

          appIssues.forEach(function(issue) {
            if(issue.classList.contains("innerHighlight")) {
              param.issue.push(issue.innerHTML);
            }
          });
          if(strictMode === false) {
            getNews(param);
          } else {
            getNewsLess(param);
          }
        });
        filIssues.appendChild(polGetIssLi);
      }

    }


    // 移除子項目
    function removeData(item) {
      var child = item.lastElementChild;
      while(child) {
        item.removeChild(child);
        child = item.lastElementChild;
      }
    }

    // 點擊 tag 更新 filter HL
    function addHLByTag(item, className) {
      var polClasses = document.getElementsByClassName(className),
          results = [];
      for(var i = 0; i < polClasses.length; i++) {
        var content = polClasses[i].innerText;
        if (content.indexOf(item) != -1) {
          results.push(polClasses[i]);
          polClasses[i].classList.add("innerHighlight")
        }
      }
    }

    // 標籤顯示處理 -> CSS??
    function tagShow() {

      let tagJudge = document.getElementsByClassName("content")[0].offsetWidth;
      let tagsShow = document.querySelectorAll(".newsTags");
      let renderTagsShow = document.querySelectorAll(".renderTags");

      if(document.querySelectorAll(".newsTags") && tagJudge > 1150) {
        tagsShow.forEach(tagShow => tagShow.style.display = "block");
      } else if (document.querySelectorAll(".newsTags") && tagJudge < 1151) {
        tagsShow.forEach(tagShow => tagShow.style.display = "none");
      }
      if(document.querySelectorAll(".renderTags") && tagJudge > 1150) {
        renderTagsShow.forEach(tagShow => tagShow.style.display = "block");
      } else if (document.querySelectorAll(".renderTags") && tagJudge < 1151) {
        renderTagsShow.forEach(tagShow => tagShow.style.display = "none");
      }
    }

    // 展開
    let openFlag = false;
    function readMore(type) {
      let parent = event.target.parentNode;
      if(!openFlag) {
        if(parent.className === "news-content") {
          parent.childNodes[3].classList.add("hidden");
          parent.childNodes[4].classList.remove("hidden");
          parent.childNodes[5].classList.remove("hidden");
        } else if(parent.className === "desc") {
          parent.parentNode.childNodes[3].classList.add("hidden");
          parent.parentNode.childNodes[4].classList.remove("hidden");
          parent.parentNode.childNodes[5].classList.remove("hidden");
        } else if(parent.className === "news") {
          parent.childNodes[0].childNodes[3].classList.add("hidden");
          parent.childNodes[0].childNodes[4].classList.remove("hidden");
          parent.childNodes[0].childNodes[5].classList.remove("hidden");
        } else {
          event.target.childNodes[0].childNodes[3].classList.add("hidden");
          event.target.childNodes[0].childNodes[4].classList.remove("hidden");
          event.target.childNodes[0].childNodes[5].classList.remove("hidden");
        }
        openFlag = true;
      } else {
        if(parent.className === "news-content") {
          parent.childNodes[3].classList.remove("hidden");
          parent.childNodes[4].classList.add("hidden");
          parent.childNodes[5].classList.add("hidden");
        } else if(parent.className === "mainContent") {
          parent.parentNode.childNodes[3].classList.remove("hidden");
          parent.parentNode.childNodes[4].classList.add("hidden");
          parent.parentNode.childNodes[5].classList.add("hidden");
        } else if(parent.className === "news") {
          parent.childNodes[0].childNodes[3].classList.remove("hidden");
          parent.childNodes[0].childNodes[4].classList.add("hidden");
          parent.childNodes[0].childNodes[5].classList.add("hidden");
        } else {
          event.target.childNodes[0].childNodes[3].classList.remove("hidden");
          event.target.childNodes[0].childNodes[4].classList.add("hidden");
          event.target.childNodes[0].childNodes[5].classList.add("hidden");
        }
        openFlag = false;
      }
    }

    // 展開
    let openOncomingFlag = false;
    function oncomingReadMore() {
      let parent = event.target.parentNode;
      if(!openOncomingFlag) {
        if(parent.className === "news-content") {
          parent.childNodes[7].classList.add("hidden");
          parent.childNodes[9].classList.remove("hidden");
          parent.childNodes[11].classList.remove("hidden");
        } else if(parent.className === "desc") {
          parent.parentNode.childNodes[7].classList.add("hidden");
          parent.parentNode.childNodes[9].classList.remove("hidden");
          parent.parentNode.childNodes[11].classList.remove("hidden");
        } else if(parent.className === "news") {
          event.target.childNodes[7].classList.add("hidden");
          event.target.childNodes[9].classList.remove("hidden");
          event.target.childNodes[11].classList.remove("hidden");
        } else {
          event.target.childNodes[1].childNodes[7].classList.add("hidden");
          event.target.childNodes[1].childNodes[9].classList.remove("hidden");
          event.target.childNodes[1].childNodes[11].classList.remove("hidden");
        }
        openOncomingFlag = true;
      } else {
        if(parent.className === "news-content") {
          parent.childNodes[7].classList.remove("hidden");
          parent.childNodes[9].classList.add("hidden");
          parent.childNodes[11].classList.add("hidden");
        } else if(parent.className === "mainContent") {
          parent.parentNode.childNodes[7].classList.remove("hidden");
          parent.parentNode.childNodes[9].classList.add("hidden");
          parent.parentNode.childNodes[11].classList.add("hidden");
        } else if(parent.className === "news") {
          event.target.childNodes[7].classList.remove("hidden");
          event.target.childNodes[9].classList.add("hidden");
          event.target.childNodes[11].classList.add("hidden");
        } else {
          event.target.childNodes[1].childNodes[7].classList.remove("hidden");
          event.target.childNodes[1].childNodes[9].classList.add("hidden");
          event.target.childNodes[1].childNodes[11].classList.add("hidden");
        }
        openOncomingFlag = false;
      }
    }


    let page = 0;
    let next_paging;
    let scrollStatus = true;

    let outSideOn = document.querySelector("#oncomingNewsP");
    let inSideOn = document.querySelector("#oncomingNews");
    let outSideApd = document.querySelector("#appendNewsP");
    let inSideApd = document.querySelector("#appendNews");

    // getNews(param);

    function paging(type) {
      let x = inSideApd.getBoundingClientRect().bottom - outSideApd.clientHeight;
      if(scrollStatus === false) { // waiting for next page
        return;
      }
      if(x < 600) {
        if(next_paging !== undefined) {
          page++;
          if(strictMode === false) {
            getNewsPage(param, page);
          } else {
            getNewsLessPage(param, page);
          }
        }
      }
    }

    function paging2(type) {
      let x = inSideOn.getBoundingClientRect().bottom - outSideOn.clientHeight;
      next_paging = 0;
      if(scrollStatus === false) { // waiting for next page
        return;
      }
      if(x < 600) {

        if(next_paging !== undefined) {
          page++;
          if(strictMode === false) {
            getNewsPage(param, page, type);
          } else {
            getNewsLessPage(param, page, type);
          }
        }
      }
    }


  </script>

  </body>


</html>
