<!DOCTYPE html>
<html lang="en">

  <head>
      <title>PolsTrack</title>
      <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
      <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="./css/common.css">
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="https://kit.fontawesome.com/5497cadb8e.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="./">PolsTrack</a>
      </div>
      <nav>
        <div class="item current">
          <a href="./politician">新聞</a>
        </div>
        <div class="item">
          <a href="./compare">比較</a>
        </div>
        <div class="item">
          <a href="./hots">熱門</a>
        </div>
      </nav>
    </header>



    <main>

      <div class="sidenav">
        <div class="filters">
          <ul>
            <li class="filter" id="main">篩選</li>
            <li class="filter" id="party">政黨</li>
          </ul>
        </div>
        <div class="partyList filterItems scrollBar">
          <ul>
            <% for(let i = 1; i < partiesData.length; i++) { %>
              <li class="party"><%= partiesData[i].party %></li>
            <% } %>
          </ul>
        </div>
        <div class="mainFilter filterItems">
          <div class="politician">
            <ul id="appendPols">
              <li class="personTitle">人物</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% polsData.forEach(function(result){ %>
                  <li class="person"><%= result.name %></li>
                <% }); %>
              </div>
            </ul>
          </div>
          <div class="issueList">
            <ul>
              <li class="issueTitle">議題</li>
              <div class="box-border"></div>
              <div class="inner scrollBar">
                <% issuesData.forEach(function(result){ %>
                  <li class="issue"><%= result.name %></li>
                <% }); %>
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="content">

        <div class="top" id="defaultTop">
          <div class="top_core">
            <%_ if(title.length === 0 && issue.length === 0) { _%> <!-- oncoming -->
              <%_ title = "總覽"; _%>
              <%_ issue = ""; _%>
            <%_ } else if(title.length === 0 || issue.length === 0) { _%> <!-- index -->
              <%_ title = title.length === 0 ? issue : title; _%>
              <%_ issue = "" _%>
            <%_ } else { _%> <!-- hots -->
              <%_ title = title _%>
              <%_ issue = issue _%>
            <%_ } _%>
            <div class="titleName" id="titleName"><%- title %></div>
            <div class="switchBox">
              <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label switch" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
              </div>
              <div class="switchTitle">精準</div>
              <i class="fa fa-question-circle tooltip">
                <span class="tooltiptext">精準模式：<br>提高「新聞」與「人物」的相關性，更著重在「人物」所表達的意見。</span>
              </i>
            </div>
          </div>
          <div class="titleIssue" id="titleIssue"><%- issue %></div>

        </div>
        <div class="newslist" id="oncomingNewsP">
          <div class="oncNoContent">無符合條件之新聞內容</div>
          <ul class="ulNews scrollBar" id="oncomingNews" onscroll="paging('<%= from %>')">
            <%_ for(let i = 0; i < results.news.length; i++) { _%><li><div class="timeline">
              <%_ var renderTime = new Date(results.news[i].pubTime); _%>
              <%_ if(i > 0) { _%>
                <%_ var renderPreTime = new Date(results.news[i - 1].pubTime); _%>
                <%_ var renderPreTimeY = renderPreTime.getFullYear(); _%>
                <%_ var renderPreTimeM = renderPreTime.getMonth(); _%>
                <%_ var renderCurTimeY = renderTime.getFullYear(); _%>
                <%_ var renderCurTimeM = renderTime.getMonth(); _%>
                <%_ if(renderPreTimeY !== renderCurTimeY && renderPreTimeM !== renderCurTimeM) { _%>
                  <p class="year"><%= renderTime.getFullYear() %></p>
                  <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
                <%_ } else if (renderPreTimeY == renderCurTimeY && renderPreTimeM !== renderCurTimeM) { _%>
                  <p class="year"><%= "" %></p>
                  <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
                <%_ } else { _%>
                  <p class="year"><%= "" %></p>
                  <p class="month"><%= "" %></p>
                <%_ } _%>
              <%_ } else { _%>
                <p class="year"><%= renderTime.getFullYear() %></p>
                <p class="month"><%= (renderTime.getMonth() < 10 ? '0' : '') + (renderTime.getMonth() + 1) %></p>
              <%_ } _%>
              </div><div class="news" onclick="readMore()"><div class="news-content"><div class="title"><%= results.news[i].title %></div><div class="publisher"><%= results.news[i].publisher %></div><div class="pubTime"><%= results.news[i].pubTime %></div><div class="desc"><p><%= results.news[i].content %></p></div><div class="mainContent hidden">
                    <%_ let appendModContent = results.news[i].content.replace(/(\u3002\u300d)/g, '。」<br><br>').replace(/(\u3002)(?!\u300d)/g, '。<br><br>') _%>
                    <p><%- appendModContent %></p>
                  </div><a class="url hidden" href="<%= results.news[i].href %>" target="_blank"><%= results.news[i].href %></a></div></div><div class="renderTags">
                <%_ let rndPolTagC = 0; _%>
                <%_ let rndIsuTagC = 0; _%>
                <ul class="ulPol">
                <%_ for(let j = 0; j < results.news[i].tag.length && rndPolTagC < 3; j++) { _%>
                  <%_ if(title.indexOf(results.news[i].tag[j].tagName) == -1 && issue.indexOf(results.news[i].tag[j].tagName) == -1) { _%>
                    <%_ if(results.news[i].tag[j].tagType === "NRP") { _%>
                        <li class="polTag" onclick="tagCall('<%=results.news[i].tag[j].tagName%>', 'politician')"><%= results.news[i].tag[j].tagName %></li>
                        <%_ rndPolTagC++; _%>
                    <%_ } _%>
                  <%_ } _%>
                <%_ } _%>
                </ul>
                <ul class="ulIsu">
                <%_ for(let j = 0; j < results.news[i].tag.length && rndIsuTagC < 8; j++) { _%>
                  <%_ if(title.indexOf(results.news[i].tag[j].tagName) == -1 && issue.indexOf(results.news[i].tag[j].tagName) == -1) { _%>
                    <%_ if(results.news[i].tag[j].tagType === "NI") { _%>
                      <li class="issueTag" onclick="tagCall('<%=results.news[i].tag[j].tagName%>', 'issue')"><%= results.news[i].tag[j].tagName %></li>
                      <%_ rndIsuTagC++; _%>
                    <%_ } _%>
                  <%_ } _%>
                <%_ } _%>
                </ul>
              </div></li><%_ }; _%></ul>
        </div>
        <div class="newslist" id="appendNewsP">
          <div class="appNoContent">無符合條件之新聞內容</div>
          <ul class="ulNews scrollBar" id="appendNews" onscroll="paging('append')">

          </ul>
        </div>
      </div> <!-- Content End -->

    </main>

    <footer>

    </footer>

  <script src="./js/politician.js"></script>

  </body>


</html>
